<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Domain.Properties.Settings.UPPConnectionString" connectionString="Data Source=DESKTOP-2JT2JT9;Initial Catalog=UPP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Domain.Properties.Settings.UPPConnectionString1" connectionString="Data Source=localhost;Initial Catalog=UPP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Domain.Properties.Settings.UPP_1ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=UPP-1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Domain.Properties.Settings.UPP_1ConnectionString1"
            connectionString="Data Source=DESKTOP-2JT2JT9;Initial Catalog=UPP-1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>